/* ==============================<<Mode>>============================== */
/* ---------------css reset start--------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------------css reset end--------------- */
/* ---------------fix box-sizing--------------- */
*,*:before,*:after{
    box-sizing: border-box;
}
/* ---------------fix box-sizing--------------- */
/* ------------auto-resizing image------------ */
img{
	max-width: 100%;
	height: auto;
}
/* ------------auto-resizing image------------ */
/* -------------------debug------------------- */
/* *{
    outline: 1px solid black;
} */
/* -------------------debug------------------- */
/* ==============================<<Mode>>============================== */

.wrap{
	background: #F5F5F5;
	max-width: 1387px;
	height: 759px;
	display: flex;
	align-items: center;
}
.main{
	max-width: 1164px;
	margin: 0 auto;
	background: #3F5D45;
	display: flex;
	gap: 24px;
}
.card h2{
	height: 259px;
	font-size: 76px;
	color: #3F5D45;
	background: #EAF0ED;
	text-align: center;
	line-height: 259px;
}
.card .content{
	height: 280px;
	background: #FFFFFF;
	padding: 20px;
}
.card .content h3{
	font-size: 28px;
	color: #3F5D45;
	line-height: 1.2;
	margin-bottom: 32px;
}
.card .content p{
	font-size: 24px;
	line-height: 1.4;
}
