<header>

    <a href="#" class="fa-solid fa-bars hamburgerMenu"></a>

    <h1><a href="./index.html">Sweetaste</a></h1>

    <ul class="list">
        <li><a href="./index.html">首頁</a></li>
        <li><a href="./product.html">甜點</a></li>
        <li class="loginLink"><a href="./login.jsp">登入</a></li>
        <li class="memberLink"><a href="./member.jsp">會員</a></li>
    </ul>

    <a href="./cart.html" class="cart_wrapper cartLink" aria-label="購物車" title="購物車">
        <i class="fa-solid fa-cart-shopping cart"><span class="cart_count">0</span></i>
        <span class="cart_line" aria-hidden="true"></span>
    </a>

</header>