/* ==============================<<Mode>>============================== */
/* ---------------css reset start--------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------------css reset end--------------- */
/* ---------------fix box-sizing--------------- */
*,*:before,*:after{
    box-sizing: border-box;
}
/* ---------------fix box-sizing--------------- */
/* ------------auto-resizing image------------ */
img{
	max-width: 100%;
	height: auto;
}
/* ------------auto-resizing image------------ */
/* -------------------debug------------------- */
/* *{
    outline: 1px solid black;
} */
/* -------------------debug------------------- */
/* ==============================<<Mode>>============================== */

body{
	max-width: 1406px;
	height: 1061px;
	background: #F5F5F5;
	display: flex;
	align-items: center;
}
.wrap{
	width: 1278px;
	margin: 0 auto;
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
	gap: 80px;
}
.header{
	padding: 16px 48px;
	background: #EAF0ED;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: space-between;
}
.header .menu{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}
.header .menu a{
	display: block;
	text-decoration: none;
	font-size: 20px;
	line-height: 1.2;
	color: #3F5D45;
}
.header .menu a:hover{
	text-decoration: underline 3px solid #3F5D45;
	text-underline-offset: 10px;
}
.main{
	margin: 0 auto;
	max-width: 608px;
	line-height: 1.4;
}
.main h3{
	font-size: 20px;
}
.main p{
	margin: 16px 0;
}
.footer{
	background: #3F5D45;
	padding: 16px 0;
}
.footer .list{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}
.footer .list a{
	text-decoration: none;
	color: #FFFFFF;
	line-height: 1.4;
}
.footer .list a:hover{
	color: black;
}

