@use 'variables' as vars;

.checkout-delivery_main,
.checkout-payment_main,
.checkout-invoice_main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 60px 0;
    margin: 0 auto;

    form {
        width: 460px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background: vars.$secondary-color;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 60px 40px 0;

            h2 {
                font-weight: 600;
                font-size: 36px;
                line-height: 20px;
                color: vars.$primary-color;
            }

            .step {
                width: 190px;
                height: 1px;
                background: vars.$primary-color;
                position: relative;

                .step_point {
                    font-size: 20px;
                    position: absolute;
                    background: vars.$primary-color;
                    border-radius: 50%;
                }

                .step1 {
                    top: 0;
                    left: 0;
                    transform: translateY(-50%);
                }

                .step2 {
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .step3 {
                    top: 0;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
        }

        .nextButton {
            background: vars.$tertiary-color;
            text-align: center;
            font-weight: 600;
            font-size: 24px;
            line-height: 20px;
            color: vars.$secondary-color;
            padding: 20px 0;

            &:hover {
                background: wheat;
            }
        }
    }

    .readList {
        display: none;
    }
}

@media (max-width: 770px) {

    .checkout-delivery_main,
    .checkout-payment_main,
    .checkout-invoice_main {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
        padding: 0;

        form {
            width: 100%;

            .title {
                .step {
                    width: 153px;
                }
            }
        }

        .readList {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: vars.$tertiary-color;
            padding: 20px 0;
        }
    }
}