@use 'variables' as vars;

.checkout-invoice_main {
    form {
        .input_container {
            max-width: 100%;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin: 0 40px;

            label {
                color: vars.$primary-color;
                font-size: 20px;
                line-height: 20px;
                font-weight: 600;
            }

            input,
            select {
                background: vars.$primary-color;
                height: 56px;
                color: vars.$quaternary-color;
            }

            input {
                padding: 0 16px;
            }

            input::placeholder {
                color: vars.$quaternary-color;
            }

            select {
                text-align: center;
            }

            .zipcode {
                text-indent: 0;
                text-align: center;
            }

            .zipcode::placeholder {
                text-align: center;
            }

            .invoice {
                display: flex;
            }

            .invoice a {
                width: 50%;
                height: 56px;
                color: vars.$primary-color;
                font-size: 20px;
                line-height: 20px;
                font-weight: 600;
                display: flex;
                border: 1px solid vars.$primary-color;
                justify-content: center;
                align-items: center;
            }

            .invoice .e_invoice,
            .invoice a:hover {
                background: vars.$primary-color;
                color: vars.$secondary-color;
            }

            .e_invoice_setup,
            .paper_invoice_setup {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            .email,
            .carrier {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            .address {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 8px;

                .address_label {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .address_label input {
                    height: 16px;
                    width: 16px;
                }

                .address_checkBox_container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                }

                .address_select {
                    width: 100%;
                    display: flex;
                    gap: 8px;
                }

                .zipcode,
                .county,
                .district {
                    width: 33.333%;
                }

                .address_detail {
                    width: 100%;
                }
            }

            .UBN {
                display: flex;
                flex-direction: column;
                gap: 8px;

                span {
                    padding-left: 10px;
                }
            }

            .paper_invoice_setup {
                display: none;
            }
        }
    }
}